.column-services {
    display: grid;
    grid-template-columns: 50% 50%;
}


.column-services-img {
    grid-column-start: 1;
    grid-column-end: 1;

}

.services-img {
    width: 100%;
    height: auto;

}

.column-services-text {
    grid-column-start: 2;
}

.service-paragraph {
    display: flex;
    position: relative;
}

.services-title {
    margin-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    position: relative;

}

.services-text {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    position: relative;
}

.services-icon {
    height: 30px;
    width: 30px;
    display: flex;
    position: absolute;
    right: 51%;
    border: 1px solid lightgray;
    padding: 0.5%;
    border-radius: 50px;
    align-items: center;
    fill: #5cadd3;
    animation: rotate 3s infinite linear;
    

    &::after {
        content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='rgb(127, 223, 255)' width='7px' height='7px'><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z'/></svg>");
        display: block;
        position: relative;
        z-index: 2;
        border: 2px solid white;
        top: -23px;
        
    }

    & svg {
        display: flex;
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 0px;
        border: none;
        left: 19%;
        animation-name: no-rotation;
        animation : no-rotation 3s infinite linear;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes no-rotation {
    100% {
        transform: rotate(-360deg);
    }
}
