@use "../utils/colors" as utils;

.header-sticky {
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 3;
}

header {
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    grid-template-rows: 5rem;
    place-items: center;
    width: 100%;
}


// Main Navigation Menu
.nav-header {
    display: grid;
    grid-column-start: 3;
    height: 100%;
    align-items: center;
}

.li-nav {
    display: inline;
    grid-column-start: 3;
    padding: 10px;
    cursor: pointer;
    right: 0;
    height: 100%;

    a {
        text-decoration: none;
        color: black;
        height: 100%;
        border-top: 1px solid transparent;
    }

    &:hover a {
        @include utils.secondary-color;
        border-top: 5px solid #5cadd3;
        height: 100%;
        padding-top: 26px;
    }
}

// LOGO 

.header-logo {
    display: flex;
    width: auto;
    height: auto;
    margin: 0.2rem 0.5rem 0.2rem 0rem; 
}


// RESPONSIVE

@media screen and (max-width: 1020px) {
    header {
        display: flex; 
        position: relative;
        margin: 0 0 0 0;
        height: 120px;
        justify-content: center;
    }

    .nav-header {
        display: flex;
        position : absolute;
        top : 80px; 
        height: auto;
    }
    
    .li-nav {
        padding-left: 0.1rem;
        height: auto;
        font-size: auto;
    
        a {
            height: auto;
            font-size: auto; 
            border-top: 0px solid transparent;
        }
    
        &:hover a {
            border-top: 0px solid transparent;
            height: auto;
            padding-top: 1px;
        }
    }

    .header-logo {
        margin: 0; 
    }
}